html {
    font-size: 62.5%;
}
/*--FUNCTION CLASSES FOR THEME SWITCH MODE*/

.light-mode {
    --bg-color: #ffffff;
    --text-color: #0c0c1e;
    --accent-color: #4b0000;
    --bg-accent: #faf5f4;
}

.dark-mode {
    --bg-color: #140000;
    --text-color: #faf5f4;
    --text-color-dark: #0c0c1e;
    --accent-color: #613737;
    --bg-accent: #faf5f4;
}

/*--Here start the rest of the style*/
body {
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
    font-size: 1.6rem;
    font-weight: 400;
    overflow-x: hidden;
    overflow-y: scroll;
    background-color: var(--bg-color);
    color: var(--text-color);
}
header {
    display: flex;
    flex-direction: column;
    flex: wrap;
    gap: 2rem;
}

.logo {
    color: var(--accent-color);
}
    .logo .name {
        display: flex;
        font-size: 3.2rem;
        margin-bottom: -0.6rem;
        justify-content: center;
    }
    .logo .claim {
        display: flex;
        font-size: 1.6rem;
        justify-content: center;
    }
    .logo p {
        margin: 0;
    }

.menu-toggle {
    position: fixed;
    stroke: #faf5f4;
    stroke-width: 4;
    stroke-linecap: round;
    z-index: 5;
    top: 2rem;
    right: 2rem;
    cursor: pointer;
}

    .tz-toggle {
        display: block;
    }

    .tz-blade {
        display: none;
    }

    .menu {
        display: none;
        z-index: 2;
        flex-direction: column;
        font-size: 2rem;
        background-color: rgba(255, 255, 255, 0.9);
        width: 70vw;
        height: 100vh;
        position: fixed;
        top: 0;
        right: -70vw;
        margin: 0;
        padding: 3rem 2rem;
        list-style: none;
        transform: translateX(-70vw);
        transition: 2s ease-in-out;
        scroll-margin-top: 5rem;
    }

    .menu li {
        border-bottom: 1px solid #0c0c1e;
        margin: 2rem 0;
    }

    .menu li a {
        width: 100%;
        color: #0c0c1e;
        text-decoration: none;
    }

    .menu li a:hover {
        opacity: 0.7;
    }

    .btn-menu{
        border: 1px solid #5b5a65;
        color: #5b5a65;
        background-color: #faf5f45a;
        padding: 0.5rem;
        width: 8rem;
        border-radius: 0.8rem;
        text-align: center;
        font-size: 1.2rem;
        cursor: pointer;
    }

    .btn-menu:hover {
        background-color: #f3e3e2;
    }

h2 {
    font-size: 3.2rem;
    border-bottom: 1px solid var(--text-color);
    margin: 1.6rem 0;
}

h4 {
    font-size: 1.8rem;
    font-weight: 700;
    margin: 1rem 0;
 }
 
 p {
     margin: 0;
 }

.conocimientosIntro {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    height: 60vh;
}

    .conocimientosIntro .divText {
        flex: 1;
    }

    .conocimientosIntro .divImg {
        width: 35vw;
        height: 100%;
        overflow: hidden;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .divImg img {
        width: auto;
        height: 100%;
        clip-path: url(#mascarabocetando);
    }

.knowBoxes {
    display: flex;
    width: 100%;
}

    .box {
        display: flex;
        gap: 1.2rem;
        padding: 1.8rem 1.2rem;
        margin: 1.2rem 0;
        align-items: center;
        background-color: var(--bg-accent);
        color: var(--text-color-dark);
        border-radius: 1rem;
    }

    .box:nth-child(2n+1) {
        margin-right: 2rem;
    }

    .box:nth-child(2n) {
        margin-left: 2rem;
    }

.imagenPropia {
    width: 100vw;
    height: 90vh;
    overflow: hidden;
    text-align: center;
}

    .imagenPropia img {
        width: 70%;
        clip-path: url(#mascaraImgPropia);
    }

.fortalezas {
    padding: 2rem 0;
    background-color: var(--bg-accent);
    color: var(--text-color-dark);
}

.textoLineal {
    display: flex;
    gap: 0.6rem;
    align-items: center;
    margin-top: 2rem;
}

    .textoLineal h2 {
        font-weight: 900;
        font-size: 1.8rem;
        border: none;
        color: var(--accent-color);
        margin: 0 0 0 2rem;
    }

    .line {
        stroke: var(--accent-color);
        stroke-width: 0.8rem;
        stroke-linecap: round;
    }

.containerMasSobreMi {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
}

    .contentMasSobreMi {
        width: 100%;
    }

    .contentMasSobreMi img {
        width: 100%;
        height: 25rem;
        border-radius: 1rem;
        object-fit: cover;
    }

footer {
    margin-top: 1.2rem;
    background-color: var(--accent-color);
    color: #faf5f4;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

    footer p {
        opacity: 0.7;
    }

button,
.btn {
    width: 100%;
    max-width: 50rem;
    background-color: var(--bg-accent);
    color:var(--accent-color);
    border: none;
    border-radius: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.8rem;
    margin: 1.8rem 0;
    font-size: 1.8rem;
    cursor: pointer;
    text-decoration: none;
}

    button:hover,
    .btn:hover {
        background-color: #f3e3e2;
    }

    button svg,
    .btn svg {
        fill: var(--accent-color);
    }

.iconcontainer {
    padding: 1.8rem;
    display: flex;
    width: 100%;
    justify-content: center;
    gap: 0.8rem;
}

    .iconcontainer svg,
    .iconcontainerintro svg {
        fill: #faf5f4;
    }

    .iconcontainer svg:hover,
    .iconcontainerintro svg:hover {
        fill: #f3e3e2;
        stroke: var(--accent-color);
    }

/*--UTILIDADES*/

/*--fuentes*/
.font-weight--bold {
    font-weight: 700;
}
.font-weight--thin {
    font-weight: 100;
}
.font-weight--light {
    font-weight: 300;
}
.font-style--italic {
    font-style: italic;
}

/*--margenes*/

.padding {
    padding: 0 2rem;
}

/*--bordes svg*/

.rects {
    rx: 4;
}

/*--display none*/
.display-none {
    display: none;
}

.display-flex {
    display: flex;
}

/*--colors */
.color-crimson {
    color: #4b0000;
}
.bg-color-crimson {
    background-color: #4b0000;
}

.color-cream {
    color: #f3e3e2;
}
.bg-color-cream {
    background-color: #f3e3e2;
}

.color-navy {
    color: #1b2e3c;
}
.bg-color-navy {
    background-color: #1b2e3c;
}

.color-cadet {
    color: #a3b5c2;
}
.bg-color-cadet {
    background-color: #a3b5c2;
}

.color-accent {
    color: #b0a06a;
}
.bg-color-accent {
    background-color: #b0a06a;
}

.color-dark {
    color: #0c0c1e;
}
.bg-color-dark {
    background-color: #0c0c1e;
}

.color-dark-grey {
    color: #5b5a65;
}
.bg-color-dark-grey {
    background-color: #5b5a65;
}

.color-light-grey {
    color: #aba7ad;
}
.bg-color-light-grey {
    background-color: #aba7ad;
}

.color-light {
    color: #faf5f4;
}
.bg-color-light {
    background-color: #faf5f4;
}

/*--HERE START THE MEDIA QUERY STYLE*/
@media only screen and (min-width: 750px) {
    html {
        font-size: 72.5%;
    }

    .containerMasSobreMi {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }

    .conocimientosIntro {
        flex-direction: row;
    }

    .menu-toggle {
        display: none;
    }

    .menu {
        display: flex;
        flex-direction: row;
        gap: 2rem;
        width: 100vw;
        height: auto;
        padding: 0 2rem;
        background-color: transparent;  /*rgba(255, 255, 255, 0.5);*/
        font-size: 1.6rem;
        top: 2rem;
        left: 0;
        transform: none;
    }

        .menu li {
            border: none;
            margin: 0;
        }

        .menu li a {
            color: #faf5f4;
        }

        .menu li a:hover {
            border-bottom: 3px solid #faf5f4;
        }
}