html {
    font-size: 62.5%;
}
/*--FUNCTION CLASSES FOR THEME SWITCH MODE*/

.light-mode {
    --bg-color: #ffffff;
    --bg-color-menu: rgba(255, 255, 255, 0.9);
    --bg-img: linear-gradient(0deg, rgba(75, 0, 0, 0.4), rgba(75, 0, 0, 0.4)), url(../imgs/intro.jpg);
    --bg-footer: #4b0000;
    --text-color: #0c0c1e;
    --accent-color: #4b0000;
    --bg-accent: #faf5f4;
    --text-color-beta: #5b5a65;
    --bg-color-beta: #faf5f45a;
    --btn-bg: #faf5f4;
    --btn-color: #4b0000;
    --btn-bg-hover: #f3e3e2;
}

.dark-mode {
    --bg-color: #140000;
    --bg-color-menu: rgba(20, 0, 0, 0.8);
    --bg-img: linear-gradient(0deg, rgba(75, 0, 0, 0.7), rgba(75, 0, 0, 0.7)), url(../imgs/intro.jpg);
    --bg-footer: #613737;
    --text-color: #faf5f4;
    --text-color-dark: #0c0c1e;
    --accent-color: #aea3a3;
    --bg-accent: #613737;
    --text-color-beta: #f3e3e2;
    --bg-color-beta: #5b5a655a;
    --btn-bg: #faf5f4;
    --btn-color: #4b0000;
    --btn-bg-hover: #5b5a65;
}

/*--Here start the rest of the style*/
body {
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
    font-size: 1.6rem;
    font-weight: 400;
    overflow-x: hidden;
    overflow-y: scroll;
    background-color: var(--bg-color);
    color: var(--text-color);
    transition: all 1s ease-in-out;
}
header {
    display: flex;
    flex-direction: column;
    flex: wrap;
    gap: 1rem;
}

.logo {
    color: var(--accent-color);
}
    .logo__name {
        display: flex;
        font-size: 3.2rem;
        margin-bottom: -0.6rem;
        justify-content: center;
    }
    .logo__claim {
        display: flex;
        font-size: 1.6rem;
        justify-content: center;
    }
    .logo p {
        margin: 0;
    }

.menu-toggle {
    position: fixed;
    stroke: #faf5f4;
    stroke-width: 4;
    stroke-linecap: round;
    z-index: 5;
    top: 2rem;
    right: 2rem;
    cursor: pointer;
}

    .tz-toggle {
        display: block;
    }

    .tz-blade {
        display: none;
    }

    .menu {
        z-index: 2;
        flex-direction: column;
        font-size: 2rem;
        background-color: var(--bg-color-menu);
        width: 70vw;
        height: 100vh;
        position: fixed;
        top: 0;
        right: 0;
        margin: 0;
        padding: 3rem 2rem;
        list-style: none;
        transform: translateX(100%);
        transition: 1s ease-in-out;
    }

    .menu__item {
        border-bottom: 1px solid var(--text-color);
        margin: 2rem 0;
        width: 100%;
        color: var(--text-color);
    }

    .menu__item a {
        text-decoration: none;
        color: inherit;
    }

    .menu__item:hover {
        opacity: 0.7;
    }

    .menu-hidden {
        transform: translateX(0);
    }

h2 {
    font-size: 3.2rem;
    border-bottom: 1px solid var(--text-color);
    margin: 1.6rem 0;
}

h4 {
    font-size: 1.8rem;
    font-weight: 700;
    margin: 1rem 0;
 }
 
 p {
     margin: 0;
     max-width: 70rem;
 }

.conocimientosIntro {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}

    .divText {
        flex: 1;
    }

    .divImg {
        width: 85vw;
        overflow: hidden;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .divImg img {
        width: 100%;
        max-width: 30rem;
        clip-path: url(#mascarabocetando);
    }

.knowBoxes {
    display: flex;
    width: 100%;
}

    .box {
        display: flex;
        gap: 1.2rem;
        padding: 1.8rem 1.2rem;
        margin: 1.2rem 0;
        align-items: center;
        background-color: var(--bg-accent);
        color: var(--text-color);
        border-radius: 1rem;
    }

    .box:nth-child(2n+1) {
        margin-right: 2rem;
    }

    .box:nth-child(2n) {
        margin-left: 2rem;
    }

    .box svg {
        fill: var(--text-color);
    }

.imagenPropia {
    width: 100vw;
    overflow: hidden;
    text-align: center;
    margin: 2rem 0;
}

    .imagenPropia img {
        width: 50vw;
        max-width: 50rem;
        clip-path: url(#mascaraImgPropia);
    }

.fortalezas {
    padding: 2rem 0;
    background-color: var(--bg-accent);
    color: var(--text-color);
}

.textoLineal {
    display: flex;
    gap: 0.6rem;
    align-items: center;
    margin-top: 2rem;
}

    .textoLineal__tittle {
        font-weight: 900;
        font-size: 1.8rem;
        border: none;
        color: var(--accent-color);
        margin: 0 0 0 3rem;
    }

    .line {
        stroke: var(--accent-color);
        stroke-width: 0.4rem;
        stroke-linecap: round;
    }

.containerMasSobreMi {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
}

    .contentMasSobreMi {
        width: 100%;
    }

    .contentMasSobreMi img {
        width: 100%;
        height: 25rem;
        border-radius: 1rem;
        object-fit: cover;
    }

footer {
    margin-top: 1.2rem;
    background-color: var(--bg-footer);
    color: #faf5f4;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

    footer p {
        opacity: 0.7;
    }

button,
.btn {
    width: 8rem;
    background-color: var(--btn-bg);
    color:var(--btn-color);
    border: none;
    border-radius: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding: 0.8rem;
    margin: 1.8rem 0;
    font-size: 1.8rem;
    cursor: pointer;
    text-decoration: none;
}

    button:hover,
    .btn:hover {
        background-color: #f3e3e2;
    }

    button svg,
    .btn svg {
        fill: var(--btn-color);
    }

    .btn--secondary{
        border: 1px solid var(--text-color-beta);
        color: var(--text-color-beta);
        background-color: var(--bg-color-beta);
    }

    .btn--secondary:hover {
        background-color: var(--btn-bg-hover);
    }

    .btn--secondary svg {
        fill: var(--text-color-beta);
    }

    .btn--full-width {
        width: 100%;
        max-width: 50rem;
    }

    .btn--small {
        padding: 0.5rem;
        border-radius: 0.8rem;
        font-size: 1.2rem;
        margin: 0;
    }

.iconcontainer {
    padding: 1.8rem;
    display: flex;
    width: 100%;
    justify-content: center;
    gap: 0.8rem;
}

    .iconcontainer svg,
    .iconcontainerintro svg {
        fill: #faf5f4;
    }

    .iconcontainer svg:hover,
    .iconcontainerintro svg:hover {
        fill: #f3e3e2;
        stroke: var(--accent-color);
    }

/*--UTILIDADES*/

/*--fuentes*/
.font-weight--bold {
    font-weight: 700;
}
.font-weight--thin {
    font-weight: 100;
}
.font-weight--light {
    font-weight: 300;
}
.font-style--italic {
    font-style: italic;
}

/*--margenes*/

.padding {
    padding: 0 3rem;
}

/*--scroll margin*/
.scroll-margin-top {
    scroll-margin-top: 5rem;
}

/*--bordes svg*/

.rects {
    rx: 0.04;
}

/*--display none*/
.display-none {
    display: none;
}

.display-flex {
    display: flex;
}

/*--colors */
.color-crimson {
    color: #4b0000;
}
.bg-color-crimson {
    background-color: #4b0000;
}

.color-cream {
    color: #f3e3e2;
}
.bg-color-cream {
    background-color: #f3e3e2;
}

.color-crimson-dark {
    color: #140000;
}
.bg-color-crimson-dark {
    background-color: #140000;
}

.color-crimson-light {
    color: #613737;
}
.bg-color-crimson-light {
    background-color: #613737;
}

.color-dark {
    color: #0c0c1e;
}
.bg-color-dark {
    background-color: #0c0c1e;
}

.color-dark-grey {
    color: #5b5a65;
}
.bg-color-dark-grey {
    background-color: #5b5a65;
}

.color-medium-gray {
    color: #aea3a3;
}
.bg-color-medium-gray {
    background-color: #aea3a3;
}

.color-light-grey {
    color: #aba7ad;
}
.bg-color-light-grey {
    background-color: #aba7ad;
}

.color-light {
    color: #faf5f4;
}
.bg-color-light {
    background-color: #faf5f4;
}

/*--filtro imagenes */
.img-filter {
    filter: saturate(30%);
}

/*--HERE START THE MEDIA QUERY STYLE*/
@media screen and (min-width: 750px) {
    html {
        font-size: 72.5%;
    }

    header {
        gap: 3rem;
    }

    .containerMasSobreMi {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }

    .conocimientosIntro {
        flex-direction: row;
    }

    .divImg {
        width: 35vw;
    }

    .menu-toggle {
        display: none;
    }

    .menu {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 2rem;
        width: 100vw;
        height: auto;
        padding: 0.5rem 3rem;
        background-color: transparent;
        font-size: 1.6rem;
        top: 0;
        left: 0;
        transform: none;
        color: #faf5f4;
        position: fixed;
    }

        .menu__item {
            border: none;
            width: auto;
            margin: 1rem 0;
            color: inherit;
        }

        .menu__item:hover {
            border-bottom-width: 3px;
            border-bottom-style: solid;
        }
}